<h1>MDUUC Coordinators:</h1>

<div align="center">
	<h1>There are <%= @users.count %> matches </h1> 
	<% @users.each do |user| %>
		<%= link_to "#{user.first_name.capitalize} #{user.last_name.capitalize}", edit_user_path(user) %>
		
	<% end %>
</div>