<h1 align="center">Events You've Volunteered For:</h1>
<div align="center" class="event_item">
	<% if @user.events.count > 0 %>
		<% @user.events.order('date').each do |event| %>
			<%= link_to "#{event.event_type} on #{event.date}" , event_path(event)  %><br>
		<% end %>
	<% else %>
		<h3 class="warning">You have Not Signed Up For Any Events</h3>
		<%= link_to 'Sign Up To Volunteer Here', events_path %>
	<% end %>
	
</div>	

<!-- users can see other volunteer names signed up for the event -->

<!-- if no volunteered events, flag -->
