<h1 align="center">Events You've Volunteered For:</h1>
<div align="center" class="event_item">
	<% if @user.events.count > 0 %>
			<% @user.events.each do |event| %>
			<%= link_to event.event_type, event_path(event)  %> <%= event.date %><br>
			<% end %>
		<% end %>
	
</div>	

<!-- users can see other volunteer names signed up for the event -->

<!-- if no volunteered events, flag -->
