<h1>Welcome to MDUUC Winter Nights Volunteer Sign Up Site</h1>

<p class="info">
	MDUUC will hosting Winter Nights in our Bortin Fellowship Hall on April 10 - 24, 2017
</p>
<p class="info">
	This includes Easter Sunday April 16, and Passover April 10-18.

</p>
<p class="info">
	We are looking for MDUUC volunteers for many events.
            
</p>
<p class="info">
	Note:  As event volunteer teams become full, the event will no longer be displayed.
</p>

<p align="center">
	<font color="blue">
		Questions? Concerns? Email <u><b>wnvolcoordinator@mduuc.org</b></u>
	</font>
</p>

<div id="root-image" align="center">
	<%= image_tag "WN.jpg" %>
</div>	